body{
	margin: 0;
	font-family: 'Roboto', sans-serif;
}
.clear{
	clear: both;
}
.header{
	width: 100%;
	background-color: #B06010;
	padding: :10px 0;
	height: 30px;
}
.header-content{
    float:left;
    padding-left: 60px;
	margin: 0 auto;
	color: white;
}
.header-content i,.header-content span{
	margin-right: 10px;
	margin-top: 6px;
}
.dangkydangnhap{
    float:right;
    margin: 0 auto;
	color: white;
    padding-right: 60px;
}
.dangkydangnhap a{
    color: white;
    text-decoration:none;
}
.dangkydangnhap a:hover{
    color:#1da1f2;
}
.dangkydangnhap i,.dangkydangnhap span{
	margin-right: 10px;
	margin-top: 6px;
}

.myNavbar-content{
	width: 90%;
	margin:auto;
}
.myNavbar-brand,.myNavbar-menu,.social{
	float: left;
}
.myNavbar-brand{
	padding-top: 0.3rem;
	width: 20%;
}
.myNavbar-brand img{
    width: 180px;
    height:60px;
}
.myNavbar-menu{
	padding-top: 0.7rem;
	width: 65%;
}
.myNavbar-menu ul{
	list-style: none;
}
.myNavbar-menu ul li{
	float: left;
	margin-right: 1rem;
}
.myNavbar-menu ul li a{
	color: black;
	text-decoration:  none;
	font-weight: bold;
}
.myNavbar-menu ul li.active a{
	color: #b06010;
}
.myNavbar-menu ul li a:hover {
    color: #1da1f2;
}
.myNavbar-menu ul li.active a:hover{
	color: black;
}
.socoal{
	padding-top:1.2rem;
	width: 20%;
}
.social-item{
	width: 1.8rem;
	height: 1.8rem;
	float: left;
	margin-top: 1rem;
	margin-right: 0.5rem;
	color: #FFFFFF;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
}
.social-item i{
	padding-left: 0.5rem;
	padding-top: 0.5rem;
}
.fb-social{
	background-color: #3b5998;
}
.tw-social{
	background-color: #1da1f2;
}
.gl-social{
	background-color: #ee6d9f;
}
.QuangCao{
    width:100%;
    text-align: center;
}
.QuangCao img{
    width: 85%;
    height: 450px;
}